torch==2.5.1
torchvision==0.20.1
websockets==13.0.0
diffusers==0.26.3
transformers==4.41.1
accelerate==0.30.1
safetensors==0.4.2
bitsandbytes==0.43.1
xformers==0.0.28.post3
peft==0.10.0
huggingface_hub==0.25.1
gradio==4.24.0
